<br/>
<div class="map" style="position: relative;">
    <img src="images/MB68_Stock2.svg" alt="Grundriss MB68 - 2. Stock" style="height: 600px">

    <!-- First Block, static positions -->
    <div class="desk" ng-class="isBusy() ? 'busy' : 'free'" style="top: 29px; left: 98px">1</div>
    <!--    <div class="desk free" style="top: 53px; left: 98px">2</div>
        <div class="desk busy" style="top: 29px; left: 110px">3</div>
        <div class="desk busy" style="top: 53px; left: 110px">4</div>-->

    <!-- Second Block, static positions
    <div class="desk free" style="top: 29px; left: 148px">5</div>
    <div class="desk free" style="top: 53px; left: 148px">6</div>
    <div class="desk busy" style="top: 29px; left: 160px">7</div>
    <div class="desk busy" style="top: 53px; left: 160px">8</div>-->
</div>